<!DOCTYPE html>
<html>
<head>
    <title>my Movie reviews</title>
</head>
<body>
    <h1>my Movie reviews</h1>
    <a href="{% url 'review-create' %}">Add a New review</a>
    <hr>
    {% for review in reviews %}
        <div>
            <a href="{% url 'review-detail' review.pk %}"><strong>{{ review.title }}</strong></a>
            <p>개봉년도 {{ review.release_year }}년</p>
            <p>장르 {{ review.genre }}</p>
            <p>별점 {{ review.rating }}</p>
        </div>
        <hr>
    {% empty %}
        <p>작성된 리뷰가 없습니다.</p>
    {% endfor %}
</body>
</html>